<!DOCTYPE>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            * {
                margin: 0;
                padding: 0;
            }
            .container {
                text-align: center;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                margin: auto;
                margin-top: 10px;
                text-align: center;
            }
            th, td {
                border: 1px solid #ddd;
                padding: 8px;
                font-size: 12px;
            },
            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
                font-weight: bold;
            }
            .headerHeading {
                font-size: 16px;
                margin-top: 10px;
                color: #1F5C4D;
            }
            .headerText {
                font-size: 16px;
                margin-bottom: 5px;
            }
            .headerImg {
                width: 80px;
                height: 80px;
            }
            .bodyheader {
               font-size: 16px; 
               margin-top: 5px;
            }
            .tableHeader {
                background-color: #D0F4E1; 
                color: black;"
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div>
                <img src="http://3.109.139.226:3006/assets/if.png" alt="logo" class="headerImg"/>
            </div>
            <h1 class="headerHeading">
                {{#equals lang "en"}}
                    Mosque based child and mass literacy program
                {{else}}
                    মসজিদভিত্তিক শিশু ও গণশিক্ষা কার্যক্রম
                {{/equals}}
            </h1>
            <p class="headerText">
                {{#equals lang "en"}}
                    Islamic Foundation
                {{else}}
                    ইসলামিক ফাউন্ডেশন
                {{/equals}}
            </p>
            <p class="headerText">
                 {{#equals lang "en"}}
                    Agargaon Sher-E-Bangla Nagar, Dhaka-1207
                {{else}}
                    আগারগাঁও শেরেবাংলানগর, ঢাকা-১২০৭
                {{/equals}}
            </p>
            <hr />